html{
	width:600px;
	height:auto;
	margin:0 auto;
}
h1{
	text-align:center;
	margin-bottom:10%;
}
ul{
	padding:0;
}
li{
	list-style-type:none;
}
input,
label{
	display:block;
	max-width:200px;
	margin: 0 auto;
	
}
h2{
	text-align:center;
}
#valider{
	margin-top:10%;
}